<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Sign Up</title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
            <link rel="stylesheet" href="css/style.css">
            <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <header>
        <div class="div-header">
            <a href="home.html" class="logo-click"><img src="images/logo-mercado-liebre.svg" alt="Logo" class="my-image">
            </a>
                <form action="/search" class="search-bar3">
                    <input type="text" placeholder="Buscar productos, marcas" name="query" class="search-bar">
                    <button class="search-button">
                        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                        </button>
                </form>
                <h4 class="headLines"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h4>
        </div>
        <div class="nav-bar">
                <nav class="navbar-1">
                    <ul class="list-1">
                        <li class="list-u">Ofertas</li>
                        <li class="list-u">Tiendas Oficiales</li>
                        <li class="list-u">Vender</li>
                        <li class="list-u">Ayuda</li>
                    </ul>
                </nav>
                        <nav class="navbar-2">
                            <ul class="list-1">
                                <a href="register.html" target="_self" class="list-u">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a>
                                <a href="login.html" target="_self" class="list-u">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                                <li class="list-u"> Mis compras <i class="fa-solid fa-basket-shopping"></i></li>
                            </ul>
                    </nav>
        </div>
        <section>
            <nav class="burger-nav">
                <div class="burger-menu">
                <i class="fas fa-bars fa-5x"></i>
                </div>
            </nav>
        </section>
    </header>
        <main class="section-main">
            <section class="section-form">
                <form action="resultado.html" method="post">   
                </form>
                <label class="headline-label">Creá tu Cuenta</label>
                <label for="nombre" class="label-register">Name</label>
                <input type="text" id="nombre" name="nombre" class="form-bar">
                <label for="usuario" class="label-register">Nombre de usuari@</label>
                <input type="text" id="usuario" name="usuario" class="form-bar">
                <label for="email" class="label-register">Email</label>
                <input type="email" id="email" name="email" class="form-bar">
                <label for="fecha-de-nacimiento" class="label-register">Fecha de nacimiento</label>
                <input type="date" id="fecha-de-nacimiento" name="fecha-de-nacimiento" class="form-bar">
                <label for="domicilio" class="label-register">Domicilio</label>
                <input type="text" id="domicilio" name="domicilio" class="form-bar">
                <label for="name" class="label-register">Perfil del usuario</label>
                <div class="perfil-cl">
                    <label for="choice">
                    <input type="radio" id="choice-1" name="choice" class="input-perfil">Comprador
                    </label>
                    <label for="choice">
                    <input type="radio" id="choice-2" name="choice" class="input-perfil">Vendedor
                    </label>
                </div>
                <label class="label-register">Categorías de interés</label>
                <div class="intereses">
                <label for="hobby">
                    <input type="checkbox" name="hobby" value="Electro" class="intereses-op">Electro
                </label>
                <label for="hobby">
                    <input type="checkbox" name="hobby" value="Moda" class="intereses-op">Moda
                </label>
                <label for="hobby">
                    <input type="checkbox" name="hobby" value="Hogar" class="intereses-op">Hogar
                </label>
                <label for="hobby">
                    <input type="checkbox" name="hobby" value="Juguetería" class="intereses-op">Juguetería
                </label>
                <label for="hobby">
                    <input type="checkbox" name="hobby" value="Vida sana
                    " class="intereses-op">Vida sana
                </label>
                </div>
                <label for="user-profile" class="label-register">Foto de usuario</label>
                <input type="file" id="user-profile" name="avatar" class="form-bar">
                <label for="contraseña" class="label-register">Contraseña</label>
                <input type="password" id="contraseña" name="contraseña" class="form-bar">
                <label for="C-contraseña" class="label-register">Confirmar contraseña</label>
                <input type="password" id="C-contraseña" name="contraseña" class="form-bar">
                <div class="buttons-register">
                    <input type="submit" value="Registrarse" class="submit-buttom-register">
                    <input type="reset" value="Borrar" class="reset-buttom-register">
                </div>
            </section>
        </main>
        <footer>
            <section>
                    <article class="icons">
                        <i class="fa-solid fa-credit-card"></i>
                    </article>
                    <h4 class="h4-footer">Pagá con tarjeta o en efectivo</h4>
                    <p class="cuerpoDeTexto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                    <article class="icons">
                        <i class="fa-solid fa-gift"></i>
                    </article>
                    <h4 class="h4-footer">Envío gratis desde $ 2.500</h4>
                    <p class="cuerpoDeTexto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                    <article class="icons">
                        <i class="fa-solid fa-user-shield"></i>
                    </article>
                    <h4 class="h4-footer">Seguridad, de principio a fin</h4>
                    <p class="cuerpoDeTexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                    <h4 class="h4-footer">Copyright © 1999-2020 MercadoLiebre S.R.L</h4>
            </section>
    </footer>
</body>
</html>