* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --color-yellow: #EAC926;
    --color-blue: #03264C;
    --color-cian: #1259c3;
    --color-gray: #666;
    --color-lightgray: #ebebeb;
    --color-green: #39b54a;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    font-size: 12px;
}
header {
    background-color: #EAC926;
}
/*HEADER*/
.list-1 {
    list-style-type: none;
    margin: 20px 20px;
}
.list-u {
    padding-right: 15px;
    color: black;
    text-decoration: none;
}
.nav-bar {
    width: 100%;
    margin-top: 4px;
    font-size: 14px;
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0px;
}

main {
    margin: auto;
    width: 90%;
}
.h3-sections {
    text-align: start;
    font-size: 24px;
    padding: 12px;
    color: #777;
}
.div-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.my-image {
    width: 90%;
}
.search-bar {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: solid 1px #ddd;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 4px;
    background-color: #f1f1f1;
    color: #333;
    outline: none;
}
.search-bar3 {
    width: 50%;
}
.search-bar:focus {
    border-color: #777;
    background-color: #fff;
    color: #333;
}

.search-button {
    padding: 12px 10px;
    margin: 8px 0;
    color: #666;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
.search-button:focus {
    border: solid 1px #777;
}
.cuerpoDeTexto {
    font-size: 12px;
    text-align: center;
}

.headLines {
    text-align: center;
    font-weight: normal;
    width: 100%;
}
.prices {
    font-size: 18px;
    width: auto;
}
.off {
    font-size: 16px;
    width: auto;
    color: #39b54a;
    padding-left: 25px;
}
.descriptions {
    font-size: 16px;
    color: #666;
}
.burger-nav {
    padding: 10px;
}
.burger-menu {
    background-color: #1259c3;
    color: #ebebeb;
    width: 6%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    padding: 10px 20px;
    border-radius: 8px;
}
fa-5x {
    width: 90%;
}
.conteiner-1 {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;


}
.productosDiv {
    border-top: 1px solid #ebebeb;
    margin-right: 15px;
    margin-left: 15px;
    background-color: white;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    flex-wrap: wrap;
    position: relative;
    height: 90px;
}
.productos-box {
    margin-top: 15px;
    width: 25%;
}

.producto-img {
    width: 100%;
    height: auto;
}

.truck-verde {
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
footer{
    background-color: white;
}
.h4-footer {
    text-align: center;
    color: #666;
}
.icons {
    text-align: center;
    font-size: 32px;
    color: #1259c3;
    margin-top: 50px;
}
.prices-off {
    display: flex;
    align-items: center;
}
main {
    width: 100%;
}
section {
    width: 100%;
}
.banner {
    width: 100%;
}
/* LOGIN */
.main-login {
    width: 100%;
    height: 100%;
    padding: none;
}
.headline-login {
    font-size: 20px;
}
.login-header {
    display: flex;
    padding-bottom: 10px;
}
.section-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    align-items: center;
    margin-top: 50px;
    border-radius: 8px;
}
.form-bar {
    padding: 5px 30px;
    border: solid 1px #ddd;
    border-radius: 4px;
    background-color: white;
    color: #333;
    width: 80%;
    height: 33px;
}
.user-login {
    margin-top: 30px;
    font-weight: bold;
}
.pass-login {
    margin-top: 30px;
    font-weight: bold;
}
.continuar-buttom {
    color: #fff;
    background-color: #3483fa;
    padding: 10px 30px;
    border-color: transparent;
    border-radius: 4px;
    margin-top: 30px;
}
/* REGISTER */
.headline-label {
    font-size: 20px;
}
.label-register {
    margin-top: 10px;
    font-weight: bold;
}
.select-perfil {
    color: black;
    background-color: white;
    padding: 10px 30px;
    border-color: transparent;
    border-radius: 4px;
}
.submit-buttom-register {
    color: white;
    background-color: #3483fa;
    padding: 10px 30px;
    border-color: transparent;
    border-radius: 4px;
    margin-top: 10px;
    width: 128px;
    margin-right: 10px;
}
.reset-buttom-register {
    color: white;
    background-color: #3483fa;
    padding: 10px 30px;
    border-color: transparent;
    border-radius: 4px;
    margin-top: 10px;
    width: 128px;
    margin-left: 10px;
}
.buttons-register {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.intereses {
    display: flex;
    flex-direction: column;
}
.intereses-op {
    margin: 10px;
}
.perfil-cl {
    display: flex;
    flex-direction: row;
}
.input-perfil {
    margin-right: 15px;
    margin-left: 15px;
}